.filter-container {
    padding: 10px;
    color: #333;
}

.filter-container label {
    font-size: 16px;
    font-family: monospace;
    color: rgb(0, 46, 40);
}

.filter-container input {
    margin-left: 20px;
}