.form-container {
    color: white;
    background-color: black;
    padding: 20px 30px;
    border-radius: 0 0 15px 15px;
}

.form-container input[type="text"] {
    padding: 4px;
    font-size: 20px;
}

.form-container input[type="submit"] {
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    background-color: rgb(0, 97, 0);
    transition: 200ms linear;
}
.form-container input[type="submit"]:hover {
    background-color: rgb(7, 199, 7);
}

.form-container label {
    font-size: 22px;
    margin-right: 20px;
}